# Model Exercises

### Using saas.csv or log data from API usage or store_item_sales

1. Split data (train/validate/test) and resample by any period, except daily, and aggregate using the sum.
2. Forecast, plot and evaluate using each of the 4 parametric based methods we discussed:
    - Simple Average
    - Moving Average
    - Holt's Linear Trend Model
    - Based on previous year/month/etc., this is up to you.

In [6]:
# imports
import pandas as pd
import numpy as np
import os

from datetime import datetime
from sklearn.metrics import mean_squared_error
from math import sqrt

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from pandas.plotting import register_matplotlib_converters

from matplotlib.ticker import StrMethodFormatter
from matplotlib.dates import DateFormatter

import statsmodels.api as sm
from statsmodels.tsa.api import Holt

import warnings
warnings.filterwarnings("ignore")

In [7]:
url = 'https://ds.codeup.com/saas.csv'
df = pd.read_csv(url)
print('shape:', df.shape)
df.head()

shape: (790458, 5)

  Month_Invoiced  Customer_Id  Invoice_Id  Subscription_Type  Amount
0     2014-01-31      1000000     5000000                0.0     0.0
1     2014-01-31      1000001     5000001                2.0    10.0
2     2014-01-31      1000002     5000002                0.0     0.0
3     2014-01-31      1000003     5000003                0.0     0.0
4     2014-01-31      1000004     5000004                1.0     5.0

In [8]:
# Lowercase column names
df.columns = [col.lower() for col in df]

In [9]:
# Properly parse the datetime field
df.month_invoiced = pd.to_datetime(df.month_invoiced)

In [10]:
df.head()

  month_invoiced  customer_id  invoice_id  subscription_type  amount
0     2014-01-31      1000000     5000000                0.0     0.0
1     2014-01-31      1000001     5000001                2.0    10.0
2     2014-01-31      1000002     5000002                0.0     0.0
3     2014-01-31      1000003     5000003                0.0     0.0
4     2014-01-31      1000004     5000004                1.0     5.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 790458 entries, 0 to 790457
Data columns (total 5 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   month_invoiced     790458 non-null  datetime64[ns]
 1   customer_id        790458 non-null  int64
 2   invoice_id         790458 non-null  int64
 3   subscription_type  790458 non-null  float64
 4   amount             790458 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2)
memory usage: 30.2 MB

In [13]:
df.subscription_type = df.subscription_type.astype(int)
df.amount = df.amount.astype(int)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 790458 entries, 0 to 790457
Data columns (total 5 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   month_invoiced     790458 non-null  datetime64[ns]
 1   customer_id        790458 non-null  int64
 2   invoice_id         790458 non-null  int64
 3   subscription_type  790458 non-null  int64
 4   amount             790458 non-null  int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 30.2 MB

In [15]:
# a datetime index is probably a good idea
df = df.set_index('month_invoiced')

In [16]:
df.head()

                customer_id  invoice_id  subscription_type  amount
month_invoiced
2014-01-31          1000000     5000000                  0       0
2014-01-31          1000001     5000001                  2      10
2014-01-31          1000002     5000002                  0       0
2014-01-31          1000003     5000003                  0       0
2014-01-31          1000004     5000004                  1       5