# time_series

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
from vega_datasets import data
data.sf_temps()

      temp                date
0     47.8 2010-01-01 00:00:00
1     47.4 2010-01-01 01:00:00
2     46.9 2010-01-01 02:00:00
3     46.5 2010-01-01 03:00:00
4     46.0 2010-01-01 04:00:00
...    ...                 ...
8754  50.4 2010-12-31 19:00:00
8755  49.9 2010-12-31 20:00:00
8756  49.4 2010-12-31 21:00:00
8757  48.8 2010-12-31 22:00:00
8758  48.3 2010-12-31 23:00:00

[8759 rows x 2 columns]

### Use the above dataset for the exercises below:

- Resample by the day and take the average temperature. Visualize the average temperature over time.
- Write the code necessary to visualize the minimum temperature over time.
- Write the code necessary to visualize the maximum temperature over time.
- Which month is the coldest, on average?
- Which month has the highest average temperature?
- Resample by the day and calculate the min and max temp for the day (Hint: .agg(['min', 'max'])). Use this resampled dataframe to calculate the change in temperature for the day. Which month has the highest daily temperature variability?
- Bonus: Visualize the daily min, average, and max temperature over time on a single line plot, i.e. the min, average, and maximum temperature should be 3 seperate lines.

In [4]:
# assining the data to df
df = data.sf_temps()

In [5]:
# setting the index of the data to 'date' and then sor
df = df.set_index('date').sort_index()

In [6]:
df.head()

                     temp
date
2010-01-01 00:00:00  47.8
2010-01-01 01:00:00  47.4
2010-01-01 02:00:00  46.9
2010-01-01 03:00:00  46.5
2010-01-01 04:00:00  46.0