# Warm Up

### Today's warm-up:
1. Copy your env.py file into your time-series-exercises directory
2. Ensure env.py is added to your .gitignore file
3. In your SQL client, write a query to acquire data from the 3 tables in the tsa_item_demand database. The tables should be joined in the sql query.
4. Open a jupyter notebook, import env and pandas, and define the function, get_connection(db, user, host, password) , that opens the connection to the sql database  (hint: you've written this function before, so reference that if needed).
6. Create a variable query that stores the sql query you wrote in #3.
7. Using the function, pandas.read_sql() , run your query in the tsa_item_demand database.

In [3]:
import pandas as pd
import numpy as np
import os
from env import host, user, password

from warm_up import tsa_item_data

In [5]:
def get_connection(db, user=user, host=host, password=password):
    '''
    This function uses my info from my env file to
    create a connection url to access the Codeup db.
    It takes in a string name of a database as an argument.
    '''
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [6]:
def tsa_item_data():
    '''
    This function reads the tsa_item_demand data from the Codeup db into a df,
    write it to a csv file, and returns the df.
    '''
    # Create SQL query.
    sql_query = """SELECT * FROM items"""
    
    # Read in DataFrame from Codeup db.
    df = pd.read_sql(sql_query, get_connection('tsa_item_demand'))
    
    return df

In [7]:
df = tsa_item_data()

In [8]:
df.head()

,item_id,item_upc14,item_upc12,item_brand,item_name,item_price
0,1,35200264013,35200264013,Riceland,Riceland American Jazmine Rice,0.84
1,2,11111065925,11111065925,Caress,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44
2,3,23923330139,23923330139,Earths Best,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43
3,4,208528800007,208528800007,Boars Head,Boars Head Sliced White American Cheese - 120 Ct,3.14
4,5,759283100036,759283100036,Back To Nature,Back To Nature Gluten Free White Cheddar Rice ...,2.61