# Warm Up

### Today's warm-up:
1. Copy your env.py file into your time-series-exercises directory
2. Ensure env.py is added to your .gitignore file
3. In your SQL client, write a query to acquire data from the 3 tables in the tsa_item_demand database. The tables should be joined in the sql query.
4. Open a jupyter notebook, import env and pandas, and define the function, get_connection(db, user, host, password) , that opens the connection to the sql database  (hint: you've written this function before, so reference that if needed).
6. Create a variable query that stores the sql query you wrote in #3.
7. Using the function, pandas.read_sql() , run your query in the tsa_item_demand database.

In [9]:
import pandas as pd
import numpy as np
import os
from env import host, user, password

from warm_up import tsa_item_data

In [10]:
def get_connection(db, user=user, host=host, password=password):
    '''
    This function uses my info from my env file to
    create a connection url to access the Codeup db.
    It takes in a string name of a database as an argument.
    '''
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [11]:
# assign query to variable 
def tsa_item_data():
    '''
    This function reads the tsa_item_demand data from the Codeup db into a df,
    write it to a csv file, and returns the df.
    '''
    # Create SQL query.
    sql_query = """SELECT stores.*, items.*, sales.sale_date, sales.sale_amount FROM sales
    JOIN stores USING (store_id)
    JOIN items USING (item_id);"""
        
    # Read in DataFrame from Codeup db.
    df = pd.read_sql(sql_query, get_connection('tsa_item_demand'))
    
    return df

In [12]:
df = tsa_item_data()

In [13]:
df.head()

,store_id,store_address,store_zipcode,store_city,store_state,item_id,item_upc14,item_upc12,item_brand,item_name,item_price,sale_date,sale_amount
0,1,12125 Alamo Ranch Pkwy,78253,San Antonio,TX,1,35200264013,35200264013,Riceland,Riceland American Jazmine Rice,0.84,2013-01-01,13
1,1,12125 Alamo Ranch Pkwy,78253,San Antonio,TX,1,35200264013,35200264013,Riceland,Riceland American Jazmine Rice,0.84,2013-01-02,11
2,1,12125 Alamo Ranch Pkwy,78253,San Antonio,TX,1,35200264013,35200264013,Riceland,Riceland American Jazmine Rice,0.84,2013-01-03,14
3,1,12125 Alamo Ranch Pkwy,78253,San Antonio,TX,1,35200264013,35200264013,Riceland,Riceland American Jazmine Rice,0.84,2013-01-04,13
4,1,12125 Alamo Ranch Pkwy,78253,San Antonio,TX,1,35200264013,35200264013,Riceland,Riceland American Jazmine Rice,0.84,2013-01-05,10